
.garage-display-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  
}

.garage-display-content {
    text-align: center;
}

.vehicle-card{
    margin-bottom: 16px;
    text-align: left;
}