.container{
    display: flex; flex-Direction: column; align-Items: center; justify-Content: flex-start; height: 100vh }
    .select-container {
  margin-bottom: 20px; /* Add spacing between the select and the next section */
}

.vehicles-label {
  font-weight: bold;
  margin-bottom: 10px; /* Add spacing below the label */
}

.vehicle-list p {
  margin: 5px 0; /* Add spacing between each vehicle */
}